* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: white;
}

.page-container {
  text-align: center;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 2rem;
  background-color: #2D2D2D;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #4F4F4F;

  min-height: 100%;
  width: 100%;
  align-items: center;
  padding-top: 3rem;

}

.navlink {
  text-decoration: none;
  color: white;
  text-align: center;
}

.sidebar li {
  margin-bottom: 10px;
  list-style: none;
  margin-bottom: 1rem;
}

.top-left {
  position: fixed;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}


/* display-container */
.routes-container {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 2rem;
}

.text-input {
  padding: 0.35rem 0.5rem;
  margin-top: 0.25rem;
}

.submit-btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all linear 0.3s;
  margin-top: 0.5rem;
}

.submit-btn:hover {
  background-color: #4F4F4F;
  color: white;
  border: 1px solid white;
}

/* card-container */
.card-ctn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6rem;
  padding: 3rem;
}

.card {
  background-color: chocolate;
  width: 300px;
  height: 380px;
  text-align: center;
  border: 1px solid chocolate;
  border-radius: 5px;
  box-shadow: chocolate 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(255, 85, 85)  10px -10px;
  padding: 1rem;
}

.red-border {
  border: 1px solid rgb(255, 85, 85) ;
}
